/* Global Styles */
body, html {
    font-family: var(--default-font);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg);
    color: var(--color);
    font-size: var(--base-font-size);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Full page height */
    width: 100vw; /* Full page width */
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 20px;
    text-align: center;
}

.info-section, .feedback-form-section {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--content-bg);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    width: 100%;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        height: auto;
    }

    .info-section, .feedback-form-section {
        width: 100%;
        max-width: none;
    }
}
